h1 {
  color: red;
  text-align: center;
}

h2{
  background-color: azure;
  color: #006699;
  padding: 5px;;
}
button {
  margin-top: 10px;
  margin-bottom:10px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.btn-success{
  font-size: 32px;
}

.btn-danger{
  font-size: 32px;
}

.btn-primary{
  font-size: 32px;
}

ul{
  list-style: none;
}

li{
  list-style: none;
}